.topbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 20px 8px;
}

.topbar-logo {
    width: 150px;
}

.brand-logo {
    display: block;
    max-width: 100%;
    height: auto;
}

@media (max-width: 639px) {
    .topbar {
        display: none;
    }
}